section {
    height: 100vh;
}

.difficulty_container, .tuto_container, .game_container, .final_container {
    display:none;
}

.visible {
    display: flex;
}

.game_container {
    flex-direction: column;
    max-width: 200px;
}

.final_container {
    flex-direction: column;
}

.correct {
    background-color: #00ff00;
}

.wrong {
    background-color: #ff0000;
}